.reservation {
  padding: 100px 0;
  background-color: #d9e7ff;
}

.reservation__title {
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 500;
  font-style: normal;
  line-height: 52px;
  text-align: center;
}

.reservation__form {
  max-width: 400px;
  margin: auto;
}